@model UserModel

@{
    ViewData["Title"]="會員編輯";
}

<div class="container mt-5">
    <h2 class="text-center mb-4"編輯會員資料</h2>
    
    <form asp-action="Edit" method="post" class="w-50 mx-auto">
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="texe-denger mb-3"></div>

    <div class="mb-3">

        <label asp-for="Name"class="form-label"></label>
        <input asp-for="Name"class="form-control" />
        <samp asp-validation-for="Name" class="text-danger"></samp>


    </div>
    <div>
        <label asp-for="Age"class="form-label"></label>
        <input asp-for="Age" class="form-control"/>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email"class="form-label"></label>
        <input asp-for="Email"class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"class="form-label"></label>
        <input asp-for="Password" type="password"class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

   

    <button type="submit"class="btn  btn-success w-100">儲存變更</button>
</form>

@section Scripts {
    <Partial name("_ValidationScriptsPartial"/>
}




