@{
    ViewData["Title"] = "會員中心";
}

<div class="container mt-5 text-center">
    <h2 class="mb-4 text-primary">會員中心</h2>

    <p class="lead">哈囉，<strong>@ViewBag.Name</strong>，歡迎回來！！</p>

    <a asp-action="Logout" class="btn btn-outline-danger mt-3">登出</a>
</div>
